<div class="sidebar">
  {% if page.previous.url %}
  <p class="prev"><a class="prev_link" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></p>
  {% endif %}
  {% if page.next.url %}
  <p class="next"><a class="next_link" href="{{page.next.url}}">{{page.next.title}} &raquo;</a></p>
  {% endif %}
</div>

<div class="sidebar">
  <h3>Navigation</h3>
  <ul>
    <li><a href="/" title="return to the homepage">Home</a></li>
    <li><a href="/advice/" title="">Advice</a></li>
    <li><a href="/events/" title="">Events</a></li>
    <li><a href="/information/" title="">Information</a></li>
    <li><a href="/news/" title="">News</a></li>
    <li><a href="/archives.html" title="Site archives">Archives</a></li>
  </ul>
</div>


<div class="sidebar">
  <h3>Links</h3>
  <ul>
    <li><a href="http://www.squiresgardencentres.co.uk/twick.asp">Squires Garden Centre</a><br /><em>excellent garden centre in between Twickenham and Teddington.</em></li>
    <li><a href="http://www.richmond.gov.uk/home/leisure_and_culture/parks_and_open_spaces/allotments.htm">Richmond Council</a><br /><em>Check out the Council's Allotment Information</em></li>
    <li><a href="http://www.nsalg.org.uk/">NSALG</a><br /><em>National Society of Allotment &amp; Leisure Gardeners</em></li>
    <li><a href="http://www.soilassociation.org/">Soil Association</a><br /><em>UK's leading environmental charity promoting sustainable, organic farming and championing human health</em></li>
    <li><a href="http://www.organiccatalog.com/catalog/">Organic Gardening Catalogue</a></li>
    <li><a href="http://www.thompson-morgan.com/">Thompson &amp; Morgan</a></li>
  </ul>
</div>
